*.egg-info
*.pot
*.py[co]
*/__pycache__
*.pyc
*.swp
*.swo
.env
.DS_Store
env
venv
env
public
db.sqlite3
db/*.sqlite3
__pycache__/
db/*.sqlite3-*
storage
storage/media
storage/static
docker-compose.yml
docker-compose.override.yml
docker-compose.prod.yml
docker-compose.prod.txt
Dockerfile